body {
  background-color: rgb(186, 130, 238);
}
main {
  background-color: white;
  border: solid black;
  border-radius: 20px;
  padding: 50px;
}
header {
  text-align: center;
}
hr {
  border: black solid 1px;
  margin-top: 50px;
  margin-bottom: 50px;
}
input {
  border: solid black;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}
button {
  border: rgb(186, 130, 238);
  border-radius: 100px;
  padding: 10px;
  width: 150px;
  background-image: linear-gradient(to right, red, blue);
  color: white;
  font-weight: italic;
}
button:hover {
  cursor: pointer;
}
label {
  font-size: 22px;
  font-weight: bold;
}
p {
  font-size: 22px;
  font-weight: bold;
}
